table, th, td
  outline: 1px solid black // outline instead of border has children ignore pixels
  border-collapse: collapse
table
  td
    position: relative
    padding: 0px;
    &.events
      vertical-align: top
      width: 80%
    hr
      position: absolute
      width: 100%
      border-top: dotted 1px #CCCCCC
      margin: 0 !important
    div.event-by-hour
      z-index: 1
      position: absolute;
      width: 100%;
      background-color: #DBE7FA
      border-color: #8FB5F2
      border-style: solid
      border-width: 1px
      dl
        display: inline
        dt
          font-weight: bold
          font-size: small
